<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mock Server</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
	<link rel="stylesheet" href="style/main.css">
</head>
<body>
	<!--HEADER-->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 align-center">
			<h1>Mock Server</h1>
			<hr />
		</div>
		<div class="col-xs-4"></div>
	</div>
	<!--DEMO API CALL-->

	<!--USERS-->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<h4>Demo about get users endpoint</h4>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
<pre class="prettyprint linenums language-js">
// Get users
http://localhost:9000/api/users
// Heroku endpoint
https://mock-server-one.herokuapp.com/api/users
</pre>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<!--USER-->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<h4>Demo about get user endpoint</h4>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
<pre class="prettyprint linenums language-yaml">
// Get User by id
http://localhost:9000/api/user/2
// Heroku endpoint
https://mock-server-one.herokuapp.com/api/user/2
</pre>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<!--GET TEMPLATE REMINDERS LIST-->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
<pre class="prettyprint linenums language-yaml">
// Get Template List
http://localhost:9000/api/ReminderTemplates?&Keyword=4&Offset=5&Limit=15
// Heroku endpoint
https://mock-server-one.herokuapp.com/api/ReminderTemplates?&Keyword=4&Offset=5&Limit=15
</pre>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<!--GET SINGLE TEMPLATE REMINDERS -->
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
<pre class="prettyprint linenums language-yaml">
// Get Single Template Reminder
http://localhost:9000/api/ReminderTemplates/2
// Heroku endpoint
https://mock-server-one.herokuapp.com/api/ReminderTemplates/2
</pre>
		</div>
		<div class="col-xs-4"></div>
	</div>

	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>
</html>
